{% extends 'base/base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'assets/css/forms/validation.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="card card-custom card-sticky" id="kt_page_sticky_card">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    {{ object|default:"CREATE REGISTER"|capfirst }} <em class="mr-2"></em>
                </h3>
            </div>
            <div class="card-toolbar">
                {% block toolbar %}
                    <div class="btn-group">
                        <button type="submit" form="main-form" class="btn btn-primary font-weight-bolder ml-2">
                            <em class="fas fa-save icon-sm pr-1"></em>Save
                        </button>
                    </div>
                {% endblock %}
            </div>
        </div>
        <div class="card-body">
            <form id="main-form" data-errors="{{ form.errors.as_json }}" action="" method="POST"
                  enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% block form %}
                    {% include 'forms/form.html' with form=form %}
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}


